/* IMPORTANT BASIC STUFF */

html {
  height: 100vh !important;
  width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  background: white !important;
}

body {
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: auto !important;
}
